.card {
  width: 100%;
  height: 154px;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  border: 1px solid #000000;
  box-shadow: -1px 0px 0px rgba(255, 255, 255, 0.25);
  max-width: 1200px;
  cursor: pointer;
  & .imageContainer {
    background-color: black;
    position: relative;
    & div {
      position: absolute;
      width: 100%;
      height: 100%;

    }
    & img {
      width: 100%;
      object-fit: cover;
      opacity: 0.3;
      border-radius: 20px;
    }
  }
  & .content {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    & .technologies {
      display: flex;
      justify-content: space-between;
      & figure svg {
        width: 30px;
        height: 30px;
      }
    }
    & h3 {
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
    }
  }
}

@media (width >= 490px) {
  .card {
    & .imageContainer {
      & img {
        width: 100%;
      }
    }
  }
}

@media (width >= 900px) {
  .card {
    height: 100%;
    & .imageContainer {
      width: 100%;
      height: 100%;
      & img {
        width: 100%;
        height: 100%;
      }
    }
    & .content {
      padding: 50px;
      & .technologies {
        display: flex;
        justify-content: space-between;
        & figure svg {
          width: 40px;
          height: 40px;
        }
      }
      & h3 {
        font-size: 3rem;
      }
    }
  }
  .card:hover {
    border: 2px double #DA0037;
  }
}



@media (width >= 1200px) {
  .card {
    & .content {
      flex-direction: row-reverse;
      padding: 50px;
      & .technologies {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 30px;
      }
      & h3 {
        display: flex;
        align-items: flex-end;
        font-size: 5rem;
      }
    }
  }
}

@media (width >= 1900px) {
  .card {
    & .content {
      & .technologies {
        & figure svg {
          width: 50px;
          height: 50px;
        }
      }
      & h3 {
        font-size: 7rem;
      }
    }
  }
}