.main {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  & .photoContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    & h1 {
      text-transform: uppercase;
      font-size: 2.8rem;
    }
    & .photo {
      width: 260px;
      height: 260px;
      aspect-ratio: 1 / 1;
      overflow: hidden;
      border-radius: 20px;
      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  & .content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    & p {
      letter-spacing: 0.1rem;
      line-height: 2.2rem;
      font-weight: 700;
    }
  }
}

@media (width >= 660px) {
  .main {
    padding: 40px;
    gap: 40px;
    & .photoContainer {
      gap: 40px;
      & .photo {
        width: 320px;
        height:320px;
      }
    }
    & .content {
      gap: 40px;
    }
  }
}

@media (width >= 1100px) {
  .main {
    height: 80vh;
    flex-direction: row;
    padding: 0;
    & .photoContainer {
      & h1 {
        font-size: 3.8rem;
      }
      & .photo {
        width: 420px;
        height: 420px;
      }
    }
    & .content {
      margin-top: 80px;
      & p {
        font-size: 1.8rem;
        line-height: 2.5rem;
      }
    }
  }
}

@media (width >= 1400px) {
  .main {
    gap: 70px;
    & .photoContainer {
      & h1 {
        font-size: 4rem;
      }
    }
    & .content {
      margin-top: 80px;
      & p {
        font-size: 2.4rem;
        line-height: 3.5rem;
      }
    }
  }
}