.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  width: 100%;
  & h1 {
    text-transform: uppercase;
  }
  & .container {
    & .sliderContainer{
      & .slider {
        display: flex;
        flex-direction: column;
        gap: 30px;
      }
    }
    & .navigation {
      display: none;
    }
  }
}

@media (width >= 900px) {
  .main {
    height: 80vh;
    & .container {
      display: flex;
      gap: 30px;
      height: 100%;
      & .sliderContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-y: hidden;
        & .slider {
          margin-top: auto;
          height: 100% * 3.05;
        }
      }
      & .navigation {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        & svg {
          cursor: pointer;
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}


@media (width >= 1900px) {
  .main {
    & h1 {
      font-size: 4rem;
    }
  }
}