.main {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 30px;
  & h1 {
    text-transform: uppercase;
  }
}

@media (width >= 550px){
  .main {
    align-items: center;
    justify-content: center;
    & h1 {
      width: 100%;
    }
  }
}

@media (width >= 900px){
  .main {
    width: 100%;
    height: 80%;
    & h1 {
      width: 100%;
      font-size: 4rem;
    }
  }
}