.toggleTheme {
  padding: 0px 5px;
  width: 55px;
  height: 21px;
  border-radius: 15px;
  & div {
    width: 13px;
    height: 13px;
    border-radius: 50%;
  }
}

@media(width >= 900px) {
  .toggleTheme {
    padding: 0px 8px;
    width: 80%;
    height: 30px;
    cursor: pointer;
    & div {
      width: 20px;
      height: 20px;
    }
  }
}