// Colores principales
$color__primary: #EDEDED;
$color__secondary: #DA0037;
$color__text: #171717;
// Colores oscuros
$color__primary--dark: #171717;
$color__secondary--dark: #444444;
$color__text--dark: #EDEDED;

@mixin logoLight{
  background: conic-gradient(from 180deg at 50% 50%, #DA0037 0deg, #444444 360deg);
  border-radius: 114px;
}

@mixin logoDark{
  background: conic-gradient(from 180deg at 50% 50%, #444444 0deg, rgba(68, 68, 68, 0) 360deg);
  border-radius: 114px;
}

// * Theme principal - Dark
.theme--dark {
  background-color: $color__primary--dark;
  color: $color__text--dark;
  & button {
    color: $color__text;
    background: $color__primary;
  }
  & .logo {
    width: 100%;
    height: 100%;
    @include logoDark()
  }
  & .logo:hover {
    @include logoLight()
  }
  & a {
    color: $color__primary;
  }
  & .toggleTheme {
    display: flex;
    align-items: center;
    background-color: $color__secondary;
    justify-content: flex-end;
    & div {
      background-color: $color__primary;
    }
  }
  & .openMenu {
    background-color: $color__primary--dark;
    & ul li {
      background-color: $color__secondary;
    }
  }
  & .socialMedia {
    & svg {
      background-color: $color__primary;
      & path {
        fill: $color__primary--dark;
      }
    }
  }
  & .button {
    display: grid;
    place-items: center;
    border-radius: 25px;
    font-weight: 800;
    width: 120px;
    height: 38px;
    background-color: $color__primary;
    color: $color__primary--dark;
    border: none;
  }
}

// * Theme Light
.theme--light {
  background-color: $color__primary;
  color: $color__text;
  & button {
    color: $color__text--dark;
    background: $color__primary--dark;
  }
  & .logo {
    width: 100%;
    height: 100%;
    @include logoLight()
  }
  & .logo:hover {
    @include logoDark()
  }
  & a {
    color: $color__primary--dark;
  }
  & .toggleTheme {
    display: flex;
    align-items: center;
    background-color: $color__primary--dark;
    justify-content: flex-start;
    & div {
      background-color: $color__secondary;
    }
  }
  & .openMenu {
    background-color: $color__primary;
    & ul li {
      background-color: $color__primary--dark;
      & a {
        color: $color__primary;
      }
    }
  }
  & .socialMedia {
    & svg {
      background-color: $color__primary--dark;
      & path {
        fill: $color__primary;
      }
    }
  }
  & .button {
    display: grid;
    place-items: center;
    border-radius: 25px;
    font-weight: 800;
    width: 120px;
    height: 38px;
    background-color: $color__primary--dark;
    color: $color__primary;
    border: none;
  }
  & .form {
    & input, textarea {
      background-color: $color__primary--dark;
      color: $color__primary;
    }
  }
}

.socialMedia {
  & svg:hover {
    background-color: $color__secondary;
    & path {
      fill: $color__primary;
    }
  }
}

.button {
  cursor: pointer;
}

.button:hover {
  background-color: $color__secondary;
  color: $color__primary;
}

// * More
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  // width: 100vw;
  height: 100%;
  min-height: 100vh;
}

ul { 
  & li {
    list-style: none;
    padding: 0;
  }
}

a {
  text-decoration: none;
}

b {
  color: $color__secondary;
}

// * Media Queries
@media(width >= 900px) {
  body {
    display: flex;
    flex-direction:row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    // gap: 70px;
  }

  .theme--dark {
    & header > div ul li:hover{
      padding: 5px;
      border-radius: 5px;
      background-color: $color__primary;
      & a {
        color: $color__primary--dark;
      }
    }
    & .optionMenu {
      padding: 5px;
      border-radius: 5px;
      background-color: $color__primary;
      & a {
        color: $color__primary--dark;
      }
    }
  }

  .theme--light {
    & header > div ul li:hover{
      padding: 5px;
      border-radius: 5px;
      background-color: $color__primary--dark;
      color: $color__primary;
      & a {
        color: $color__primary;
      }
    }
    & .optionMenu {
      padding: 5px;
      border-radius: 5px;
      background-color: $color__primary--dark;
      & a {
        color: $color__primary;
      }
    }
  }
}

@media (width >= 1900px) {
  body {
    padding: 0 80px;
  }
}