.main {
  width: 100%;
  height: 100%;
  padding: 10px 30px;
  & h1 {
    font-size: 2.8rem;
    line-height: 3.5rem;
  }
}


@media (width >= 375px) {
  .main {
  & h1 {
    font-size: 3.8rem;
    line-height: 3.8rem;
  }
}
}

@media (width >= 400px) {
  .main {
  & h1 {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }
}
}

@media (width >= 700px) {
  .main {
  padding: 20px 30px;
  & h1 {
    font-size: 5rem;
    line-height: 6.5rem;
  }
}
}

@media (width >= 900px) {
  .main {
  padding: 0 0;
}
}

@media (width >= 1900px) {
  .main {
  & h1 {
    font-size: 6rem;
    line-height: 8rem;
  }
}
}