.form {
  width: 100%;
  display: flex;
  gap: 15px;
  flex-direction: column;
  max-width: 485px;
  & textarea {
    padding: 15px;
    margin-top: 15px;
    font-size: 1.8rem;
    text-transform: capitalize;
  }
  & input {
    padding-left: 15px;
    font-size: 1.8rem;
    height: 50px;
  }
  & label {
    font-weight: 800;
    text-transform: capitalize;
  }
  & div {
    width: 100%;
    display: flex;
    justify-content: center;
    & button {
      margin-top: 15px;
      text-transform: capitalize;
    }
  }
}