.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  & .logoContainer {
    width: 38px;
    height: 38px;
  }
  .openMenu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    padding: 23.5px 20px;
    justify-content: space-between;
    z-index: 1;
    & .buttonMenuMobileOpen {
      display: flex;
      width: 100%;
      height: 30px;
      justify-content: flex-end;
      & svg {
        width: 30px;
        height: 100%;
      }
    }
    & > ul {
      display: flex;
      gap: 20px;
      flex-direction: column;
      height: 100%;
      font-size: 3.6rem;
      font-weight: 800;
      & li {
        display: grid;
        place-items: center;
        padding: 20px;
        border-radius: 5px;
      }
    }
  }
  & .sectionMenu {
    display: flex;
    align-items: center;
    gap: 20px;
    & .buttonMenuMobile {
      width: 30px;
      height: 30px;
      & svg {
        width: 100%;
        height: 100%;
      }
    }
    & .toggles {
      display: flex;
      gap: 30px;
    }
  }
}

.menu {
  display: none;
  text-transform: capitalize;
}


.socialMobile {
  display: inline;
}
.socialDesktop {
  display: none;
}

@media (width >= 900px) {
  .header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 120px;
    height: 80vh;
    & .logoContainer {
      width: 116px;
      height: 116px;
    }
    .menu {
      display: flex;
      flex-direction: column;
      gap: 20px;
      & > ul {
        display: flex;
        align-items: center;
        gap: 30px;
        flex-direction: column;
        font-size: 2.4rem;
        font-weight: 800;
      }
    }
    & .sectionMenu {
      display: flex;
      flex-direction: column;
      gap: 40px;
      & .toggles {
        width: 100%;
        min-width: 130px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        & div:nth-child(1) h4 {
          font-size: 2.4rem;
        }
      }
    }
  }


  .socialMobile {
    display: none;
  }
  .socialDesktop {
    display: inline;
  }
  .buttonMenuMobile {
    display: none;
  }
  .menu {
    display: flex;
  }
}