.main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  &__cardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    height: 100%;
  }
  & h1 {
    text-transform: uppercase;
  }
}

@media (min-width: 900px) {
  .main {
    height: 80vh;
    gap: 30px;
    & h1 {
      font-size: 3.2rem;
    }
    &__cardsContainer {
      justify-content: flex-start;
    }
  }
}